@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ededed;
  --color-primary: #eeeeee;
  --color-secondary: #f259ba;
  --width-container: 1740px;
  --font-sans: 'Montserrat';
}

body {
  background: #000000;
  color: var(--color-foreground);
}
*{
  font-family: var(--font-sans);
}