@import "tailwindcss";
@import "swiper/css";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ededed;
  --color-primary: #eeeeee;
  --color-secondary: #f259ba;
  --width-container: 1740px;
  --font-sans: 'Montserrat';
}

body {
  background: #000000;
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

.memes-swiper {
  margin-left: 0;
  margin-right: min(0px, calc((var(--width-container) - 100vw) / 2));
  width: auto;
}

.memes-swiper .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.memes-swiper .swiper-slide-active {
  opacity: 1;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer base {
  section {
    margin-bottom: clamp(130px, 15vw, 300px);
  }
  section.questions {
    margin-bottom: 0;
  }

  :focus-visible {
    outline: 2px solid var(--color-secondary);
    outline-offset: 3px;
    border-radius: 4px;
  }
}